.person {
    margin-top: 70px;
    margin-bottom: 150px;
}
.person__title {
    font-size: 52px;
    text-align: center;
    margin-bottom: 100px;
}
.person__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.person__info-info-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 25px;
}
.person__info-info-login,
.person__info-info-email,
.person__info-info-pass {
    font-size: 21px;
    color: #EE8313;
}
.person__info-info-login>span,
.person__info-info-email>span,
.person__info-info-pass>span{
    color: #fff;
}

.person__repass-title {
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 15px;
}

.person__repass-repass-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    gap: 20px;
}
.repass-input{
    width: 100%;
    background-color: #353535;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
}
.repass-btn{
    width: 100%;
    background-color: #EE8313;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .3s;
}
.repass-btn:hover{
    background-color: #7c4103;
}

.person__logOut {
    width: 300px;
    margin: 0 auto;
    margin-top: 70px;
}
.logout {
    width: 100%;
    background-color: #EE8313;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s;
}
.logout:hover{
    background-color: #7c4103;
}